::-webkit-input-placeholder {color:white;}
::-moz-placeholder          {color:white;}/* Firefox 19+ */
:-moz-placeholder           {color:white;}/* Firefox 18- */
:-ms-input-placeholder      {color:white;}


.div-logo, .login-form-body .inputs input, .submit-btn button, .create-account-btn button{
    background: #154a89;
}

.div-logo {
    padding: 5px 7px;
}

p{
    margin-bottom: 0;
    font-weight: bold;
}

.div-logo p, .login-form-body .inputs input, .submit-btn button, .create-account-btn button{
    color: white;
    border: none;
    font-family: "Panton", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.forgot-password, .remember-me{
    padding: 5px;
}

.login-form-body p{
    color: #154a89;
    cursor: pointer;
}

.login-form-body .inputs p{
    margin: 5px 0 2px 8px;
}

.login-form-body .inputs input{
    width: 100%;
    padding: 5px 10px;
}

.submit-btn button{
    border-radius: 10px;
    font-weight: bold;
    padding: 15px 15px 10px 15px;
    margin: 30px 4px 30px 0;
}

.create-account-btn button{
    width: 100%;
    font-size: 28px;
    padding: 20px 0;
}





.submit-btn button{
    font-size: 20px;
}

.login-form-body .inputs label{
    width: 95%;
}

.login-form .div-logo span img{
    width: 20px;
    height: 20px;
}



