.profile-body{
    min-width: 330px;
    padding: 10px;
}

.profile-body p{
    color: blue;
}
.buttons{
    margin-top: 30px;
}

.icon-and-form{
    margin-bottom: 30px;
}

.buttons button{
    width: 150px;
    font-size: 14px;
    padding: 4px 2px;
}

.profile-user-icon{
    border-radius: 50%;
    border: 2px solid blueviolet;
    height: 100%;
}

.avatar{
    font-weight: bold;
}
.icon-and-form{
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
}
.profile-user-icon{
    min-height: 150px;
    min-width: 150px;
}
.profile-body form button, .profile-body form label{
    display: block;
}

.icon-and-form form button{
    font-weight: bold;
}

.icon-and-form form button{
    margin: 0 auto;
}
.btn{
    font-weight: bold;
}


@media (max-width: 1100px) {
    .buttons button{
        width: 200px;
        font-size: 18px;
        padding: 4px 2px;
    }
}