.article-body h1, .article-body p, .button button {
    color: #154a89;
    font-family: "Panton", Arial, Helvetica, sans-serif;
}

.article-body .username-and-data p {
    margin-bottom: -5px;
}

.article-logo, .article-body, .article-discussion {
    background: snow;
}

.user-icon {
    float: left;
    width: 30%;
}

.article-logo {
    padding: 10px 15px;
    background: #154a89;
    color: white;
    display: flex;
    justify-content: space-between;
}

.article-logo span, .article-logo p {
    margin: auto 0;
    cursor: pointer;
}

.article-logo p {
    font-size: 25px;
}


.article-author-info img, .answer-article-author-info img {
    margin: 0 auto;
}

.article-author-info, .answer-article-author-info {
    display: grid;
    justify-content: left;
    grid-template-columns: auto;
    text-align: center;
    height: 300px;
}

.username-and-data {
    margin-top: 10px;
}


.likes-status-bar, .button button {
    border: 1px solid #154a89;
    font-weight: bold;
    margin-bottom: 10px;
}

.article-likes {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: right;
}

.likes-status-bar {
    padding: 4px 30px;
    margin-right: 20px;
}

.button button {
    font-size: 15px;
    padding: 5px 4px;
}

.button span img {
    width: 18px;
    height: 18px;
    margin: -3px 3px 0 0;
}


.article-discussion p, .article-reply p {
    color: #154a89;
}

.comment {
    display: grid;
    grid-template-columns: 1fr 3fr;
}


.article-reply {
    background: snow;
    display: grid;
    grid-template-columns: 200px auto;
}

.decoration-buttons {
    background: #154a89;
}

.decoration-buttons img {
    margin-right: 20px;
    cursor: pointer;
    width: 22px;
    height: 21px;
}

.decoration-buttons img:first-child {
    width: 20px;
    height: 25px;
}

.textarea-for-comment textarea, .clip_or_send_buttons button {
    font-size: 20px;
    font-family: "Panton", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.textarea-for-comment textarea {
    width: 100%;
    color: #154a89;
    height: 130px;
    border: 1px solid #154a89;
}

.clip_or_send_buttons {
    text-align: right;
}

.clip_or_send_buttons span img {
    margin-right: 5px;
    margin-top: -5px;
}

.clip_or_send_buttons button {
    padding: 10px 20px;
    background: #154a89;
    color: white;
    border: none;
    border-radius: 10px;
}

.login-or-register {
    background-color: white;
    padding: 30px;

}

.login-or-register p {
    color: #154a89;
    text-align: center;
}

.comments-undefined p {
    color: #154a89;
}

.comments-undefined {
    text-align: center;
    background-color: white;
    padding: 20px 0;
    margin-top: 20px;
    border: 5px solid #154a89;

}

/*resizeable items*/
.article-author-info {
    padding: 60px 40px;
}

.article-content {
    padding: 40px 70px;
}

.username-and-data .username {
    font-size: 20px;
}

.username-and-data .data {
    font-size: 15px;
}

.user-icon {
    width: 180px;
    height: 180px;
    border: 2px #154a89 solid;
}

.reply-article-author-info {

}

.article-likes {
    padding: 7px 30px;
    grid-column-gap: 13px;
}

.answer-article-author-info {
    padding: 60px 40px;
}

.answer-article-content {
    padding: 80px 30px;
}

.article-reply {
    padding: 20px 70px;
}

.write-comment {
    margin-left: 20px;
}

.decoration-buttons {
    padding: 8px 15px;
}


@media screen and (max-width: 1230px) {
    .article-author-info {
        padding: 40px 20px;
    }

    .article-content {
        padding: 20px 50px;
    }

    .answer-article-content {
        padding: 40px 30px;
    }

    .answer-article-author-info {
        padding: 40px 0 40px 40px;
    }

    .article-reply {
        grid-template-columns: auto;
    }

    .article-reply {
        padding: 40px;
    }

    .article-reply .write-comment {
        margin-top: 40px;
        margin-left: 0;
    }
}
