::-webkit-input-placeholder {color:white;}
::-moz-placeholder          {color:white;}/* Firefox 19+ */
:-moz-placeholder           {color:white;}/* Firefox 18- */
:-ms-input-placeholder      {color:white;}

a, a:hover{
    text-decoration: none;
    color: #154a89;
    font:25px 'Panton Semi Bold', Arial, Helvetica, sans-serif;
}
.burger-menu{
    cursor: pointer;
}
.nav-bar-shown, .nav-bar-hidden{
    background: #ffffff;
    padding: 15px 10px;
}
.nav-bar-hidden{
    display: none;
}
.nav-bar-shown{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: left;
    grid-column-gap: 30px;
}
.nav-bar-item span img{
    margin-top: -10px;
    margin-right: 2px;
    width: 28px;
    height: 28px;
}

.nav-bar-search span img{
    position: relative;
    cursor: pointer;
    width: 16px;
    height: 16px;
    right: -10px;
    margin-bottom: 5px;
}

.search-input{
    padding: 7px 5px 5px 33px;
    background-color: #154a89;
    color: white;
    border: none;
    border-radius: 15px;
    font-family: 'Panton Semi Bold', Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 35px;
    margin: -4px 0 0 -16px;
}
.burger-menu{
    display: none;
}


@media screen and (max-width: 640px){
    .nav-bar-hidden{
        display: flex;
        flex-direction: column-reverse;
    }
    .nav-bar-shown{
        display: none;
    }
    .nav-bar-item, .nav-bar-search{
        margin-top: 10px;
        margin-left: 20px;
    }
    .search-input{
        width: 80%;
    }
    .burger-menu{
        width: 40px;
        display: block;
    }
}
